<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="_8100UI.Services.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <userSettings>
	<_8100UI.Services.Properties.Settings>
   <setting name="CustomerName" serializeAs="String">
     <value>Forte</value>
   </setting>
   <setting name="UserLogin" serializeAs="String">
     <value>False</value>
   </setting>
   <setting name="CurrentUser" serializeAs="String">
     <value />
   </setting>
   <setting name="ScanIndex" serializeAs="String">
     <value>0</value>
   </setting>
   <setting name="periodScan" serializeAs="String">
     <value>2</value>
   </setting>
   <setting name="DropSize" serializeAs="String">
     <value>5</value>
   </setting>
   <setting name="NumDropsMax" serializeAs="String">
     <value>5</value>
   </setting>
   <setting name="LayBoy1ConveyorId" serializeAs="String">
     <value>0</value>
   </setting>
   <setting name="ForteDbSqlCon" serializeAs="String">
     <value />
   </setting>
   <setting name="CustomerTitle" serializeAs="String">
     <value />
   </setting>
   <setting name="Host" serializeAs="String">
     <value>127.0.0.1</value>
   </setting>
   <setting name="Instant" serializeAs="String">
     <value>SQLEXPRESS</value>
   </setting>
   <setting name="MsgID" serializeAs="String">
     <value>0</value>
   </setting>
   <setting name="RunFromLocal" serializeAs="String">
     <value>False</value>
   </setting>
   <setting name="RemoteHost" serializeAs="String">
     <value>127.0.0.1</value>
   </setting>
   <setting name="RemotePort" serializeAs="String">
     <value>5005</value>
   </setting>
   <setting name="SheetCntCheck" serializeAs="String">
     <value>False</value>
   </setting>
   <setting name="BoxOneCheck" serializeAs="String">
     <value>False</value>
   </setting>
   <setting name="BoxTwoCheck" serializeAs="String">
     <value>False</value>
   </setting>
   <setting name="BoxThreeCheck" serializeAs="String">
     <value>False</value>
   </setting>
   <setting name="BoxFourCheck" serializeAs="String">
     <value>False</value>
   </setting>
   <setting name="BoxFiveCheck" serializeAs="String">
     <value>False</value>
   </setting>
   <setting name="BoxSixCheck" serializeAs="String">
     <value>False</value>
   </setting>
   <setting name="Setting" serializeAs="String">
     <value />
   </setting>
   <setting name="IniCustomerName" serializeAs="String">
     <value />
   </setting>
   <setting name="IniMoistureType" serializeAs="String">
     <value />
   </setting>
   <setting name="IniWeightUnit" serializeAs="String">
     <value />
   </setting>
   <setting name="IniLotSummaryDepth" serializeAs="String">
     <value>0</value>
   </setting>
   <setting name="IniBaleSummaryDepth" serializeAs="String">
     <value>0</value>
   </setting>
   <setting name="MoistureType" serializeAs="String">
     <value>0</value>
   </setting>
   <setting name="WeightUnit" serializeAs="String">
     <value>0</value>
   </setting>
   <setting name="ReportFields" serializeAs="String">
     <value />
   </setting>
   <setting name="ScanRate" serializeAs="String">
     <value>0</value>
   </setting>
   <setting name="DropChecked" serializeAs="String">
     <value>False</value>
   </setting>
   <setting name="SheetChecked" serializeAs="String">
     <value>False</value>
   </setting>
   <setting name="ProcessingLine" serializeAs="String">
     <value>1</value>
   </setting>
   <setting name="WeighLineOne" serializeAs="String">
     <value>0</value>
   </setting>
   <setting name="PressLineOne" serializeAs="String">
     <value>0</value>
   </setting>
   <setting name="MarkerOneLineOne" serializeAs="String">
     <value>0</value>
   </setting>
   <setting name="ApproachLineOne" serializeAs="String">
     <value>0</value>
   </setting>
   <setting name="MarkerOneLineTwo" serializeAs="String">
     <value>0</value>
   </setting>
   <setting name="ApproachLineTwo" serializeAs="String">
     <value>0</value>
   </setting>
   <setting name="Setting1" serializeAs="String">
     <value>0</value>
   </setting>
   <setting name="PressLineTwo" serializeAs="String">
     <value>0</value>
   </setting>
   <setting name="WeighLineTwo" serializeAs="String">
     <value>0</value>
   </setting>
   <setting name="SingleLot" serializeAs="String">
     <value>False</value>
   </setting>
   <setting name="StockActive" serializeAs="String">
     <value>False</value>
   </setting>
   <setting name="GradeActive" serializeAs="String">
     <value>False</value>
   </setting>
   <setting name="LayBoyCount" serializeAs="String">
     <value>0</value>
   </setting>
   <setting name="BaleOrderLoToHiLnOne" serializeAs="String">
     <value>False</value>
   </setting>
   <setting name="JobParam" serializeAs="String">
     <value>False</value>
   </setting>
   <setting name="BaleOrderLoToHiLnTwo" serializeAs="String">
     <value>False</value>
   </setting>
   <setting name="LangaugeIdx" serializeAs="String">
     <value>0</value>
   </setting>
   <setting name="MoveLeftToRight" serializeAs="String">
     <value>False</value>
   </setting>
 </_8100UI.Services.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>