<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MidCmbDisplayBox.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MidCmbDisplayBox.Properties.Settings>
            <setting name="BoxOneIdx" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BoxTwoIdx" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BoxThreeIdx" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BoxFourIdx" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BoxFiveIdx" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BoxSixIdx" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BoxSevenIdx" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BoxEightIdx" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BoxElevenIdx" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BoxTwelveIdx" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BoxThirteenIdx" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BoxFourteenIdx" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BoxFifteenIdx" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BoxSixteenIdx" serializeAs="String">
                <value>0</value>
            </setting>
        </MidCmbDisplayBox.Properties.Settings>
    </userSettings>
</configuration>