<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BigCmbDisplayBox.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BigCmbDisplayBox.Properties.Settings>
            <setting name="BoxOneIdx" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BoxTwoIdx" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BoxOneLineTwoIdx" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BoxTwoLineTwoIdx" serializeAs="String">
                <value>0</value>
            </setting>
        </BigCmbDisplayBox.Properties.Settings>
    </userSettings>
</configuration>